*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn{
    background-color: #469165;
    color: #FFFFFF;
    font-weight: 600px;
    font-size: 16px;
    border: none;
    padding: 12.5px 16px;
    border-radius: 4px;
    cursor: pointer;
    
}
.btn:hover{
    color: #7cf7af;
}




/* main style */

header{
    background-color: #FFFFFF;
    padding: 16px 120px;
}


nav{
    width: 93%;
    max-width: 1600px;
    
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.li-style{
    display: flex;
    list-style: none; 
    gap: 32px;
}

.li-style a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    line-height: 152%;
    font-weight: 500;
}


#banner{
    width: 100%;
    height: 674px;
    background-image: url(/assets/hero-bg.png);
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    


}
