*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn , .btn-green{
    background-color: #469165;
    color: #FFFFFF;
    font-weight: 600px;
    font-size: 16px;
    border: none;
    padding: 12.5px 16px;
    border-radius: 4px;
    cursor: pointer;
    
}
.btn:hover, .btn-green:hover{
    background-color: #627382;
}




/* main style */

header{
    background-color: #FFFFFF;
    padding: 16px 120px;
}


nav{
    width: 93%;
    max-width: 1600px;
    
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.li-style{
    display: flex;
    list-style: none; 
    gap: 32px;
}

.li-style a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    line-height: 152%;
    font-weight: 500;
}


#banner{
    width: 100%;
    height: 674px;
    background-image: url('../assets/hero-bg.png');
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    


}

.banner-content{
    width: 93%;
    max-width: 1600px;
    margin: 115px 120px;
    /* border: 1px solid rebeccapurple; */
    
    
}


.banner-content .color-green{
    display: inline-block;
    background-color: #FFFFFF;
    padding: 8px 12px;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    margin-bottom: 16px;
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    
    
}


.banner-content h1{
    font-size: 64px;
    font-weight: 770;
    margin-bottom: 16px;
}

.color-white{
    color: #FFFFFF;
}
.color-green-1{
    color: #30B868;
}

.description{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400px;
    line-height: 2;
    margin: 0 auto 32px;
}

.Start{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.see-btn{
    background-color: transparent;
    color: #FFFFFF;
    font-weight: 600px;
    font-size: 16px;
    border: 1px solid #FFFFFF;
    padding: 12.5px 16px;
    border-radius: 4px;
    cursor: pointer;
}
.see-btn:hover{
    background-color: #627382;
}


#feature{
    padding: 50px 120px;
    background-color: #FFFFFF;
    
    
}



.feature-title{
    text-align: center;
    /* margin-bottom: 44px; */
}

.feature-title h2{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}

.feature-title p{
    font-size: 16px;
    line-height: 2;
    color: #627382;
    margin-bottom: 70px;

}

.feature-card{
    display: flex;
    justify-content: center;
    gap: 24px;
    width: 93%;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
    
}

.card-component{
    flex: 1;
    width: 400px;
    height: 300px;
    
    padding: 24px;
    text-align: center;
    align-items: center;
    

}


.icon-red{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #F95555;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-component h3{
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 24px;
    font-weight: 600px;
    color: #001931;
}

.card-component p{
    font-size: 16px;
    font-weight: 400px;
    color: #627382;
    max-width: 274px;
  
}




#solution{
    padding: 120px;
    
}

.solution-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    max-width: 1600px;
    margin: 0 auto;
}
.solution-image{
    width: 600px;
    height: 600px;
    border-radius: 12px;
}


.sol{
    color: #469165;
    font-size: 16px;
    font-weight: 500px;
    margin-bottom: 16px;
}
.solution-content h2{
    color: #001931;
    font-size: 48px;
    font-weight: 700px;
    margin-bottom: 16px;
}

.solution-content p{
     color: #627382;
    font-size: 16px;
    font-weight: 400px;
    margin-bottom: 40px;
}


.solution-list{
    list-style: none;
}

.solution-lis li{
    display: flex;
    align-items: center;
    gap: 16;
    margin-bottom: 16px;
    font-size: 16px;
    color: #001931;
    font-weight: 500;
}


/* point space */

